.navbar {
  border-bottom: #c0392b 3px solid;
  opacity      : .7;
}

.nav-link {
  color: white !important;
}

.dropdown-item {
  color: aqua;
}

.title {
  margin-top: 80px;
}

.parrafo {
  background-color: rgb(24, 114, 114);
  color           : white;
}

.texto-js {
  background-color: rgb(24, 114, 114);
  color           : white;
  margin-top      : 16px;
  text-align      : center;
  font-size       : 22px;
}

.segundo {
  background-color: violet;
}

.title {
  color: #c0392b;
}

.formula-1 {
  display        : flex !important;
  justify-content: center !important;
  margin-top     : 20px;
}

.form-edit {
  width : 40% !important !important;
  border: 1px solid #4895e2 !important;
}

.input-form-derecha {
  margin-left: 20px;
}

.form-email {
  margin-top: 20px;
}

.email {
  border: 1px solid #4895e2 !important;
}

.form-password {
  margin-top: 20px;
}

.password {
  border: 1px solid #4895e2 !important;
}

.lab-text {
  margin-top: 20px;
  font-size : 24px;
  color     : rgb(24, 114, 114);
}

.formulario {
  .info-day {
    border: 1px solid #4895e2 !important;
    color : violet !important;
  }

  .info-month {
    border: 1px solid #4895e2 !important;
    color : violet !important;
  }

  .info-year {
    border: 1px solid #4895e2 !important;
    color : violet !important;
  }

  .sex-info {
    margin-top: 20px;
    color     : violet !important;
  }
}

.generador {
  background: #c0392b;
  color     : white;
}

.text-info_concept {
  background: rgb(9, 132, 180);
  color     : white;
  text-align: center;
}

.btn-violeta {
  background: violet !important;
}