.navbar {
  border-bottom: #c0392b 3px solid;
  opacity      : .7;
}

.nav-link {
  color: white !important;
}

.dropdown-item {
  color: aqua;
}

.title {
  margin-top: 80px;
}

.parrafo {
  background-color: rgb(24, 114, 114);
  color           : white;
}

.texto-js {
  background-color: rgb(24, 114, 114);
  color           : white;
}

.segundo {
  background-color: violet;
}